{% extends 'base.html.twig' %}

{% block title %}Palabra Aleatoria{% endblock %}

{% block body %}
    <div>
        <h1> {{ palabra }} </h1>
        <p><a href="{{ path('palabraaleatoria', 
        {"num" : number })  }}">Obtener otra palabra aleatoria!</a></p>
        <p><a href="{{ path('definicion', 
        {"num" : number })  }}">Definición!</a></p>
    </div>
{% endblock %}